{
  "presets": [
    ["@babel/preset-env", { "corejs": 3, "useBuiltIns": "usage" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    "date-fns",
    "lodash",
    "react-hot-loader/babel",
    [
      "transform-imports",
      {
        "reactstrap": {
          "transform": "reactstrap/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
