{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "react-hot-loader/babel",
    "recharts",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}
