@import url('https://fonts.googleapis.com/css?family=Monda');

html {
  font-size: 15px;
}

html,
body {
  font-family: 'Monda', sans-serif;
  height: 100%;
}

body {
  color: #363a40;
}

body,
#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: #363a40;
}

h4:not(.card-title) {
  margin: 0;
}

.content {
  flex: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

.top-charts {
  margin-bottom: 20px;
}

.table td {
  border-bottom: 1px solid #ebebeb;
  padding: 7px;
}

.table thead th {
  color: white;
  background-color: #867ac6;
  border-bottom: 4px solid #695f9c;
  border-top: 1px solid #867ac6;
  padding: 5px;
}

.table tbody td,
.table thead th {
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

.table tbody td:first-child,
.table thead th:first-child {
  padding-left: 10px;
}

.table tbody td:last-child,
.table thead th:last-child {
  padding-right: 10px;
}

.table tbody tr:nth-child(2n) td {
  background-color: #f4f4f4;
}

a,
a:hover {
  color: #7a68d2;
  cursor: pointer;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination li.page-item {
  margin: 0 3px 0 0;
}

.pagination li.page-item:last-child {
  margin: 0;
}

.pagination li.page-item a.page-link {
  background-color: #f4f4f4;
  border: none;
  border-radius: 0;
  color: currentColor;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 10px 15px;
}

.pagination li.page-item a.page-link:hover {
  background-color: #ebebeb;
}

.pagination li.page-item.active a.page-link {
  background-color: #dfdbdb;
}

.pagination li.page-item.disabled a.page-link,
.pagination li.page-item.disabled a.page-link:hover {
  cursor: default;
  color: #c6c6c6;
}

.token-volume,
.historical-volume {
  background: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

.token-volume h1,
.historical-volume h1 {
  background-color: #6ea3a1;
  border-bottom: 4px solid #537c7a;
  color: white;
  padding: 0 20px;
  font-size: 1em;
  text-align: center;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-volume .inner,
.historical-volume .inner {
  width: 0;
  margin: 20px;
  flex-grow: 1;
}

.historical-volume {
  flex-grow: 1;
  flex-shrink: 1;
}

.spinner {
  margin: 0px auto;
}

.card-header a {
  color: currentColor;
}

.card-header .nav-tabs .nav-link:hover:not(.active) {
  border-color: transparent;
}

.btn-outline-dark {
  border-color: #363a40 !important;
  color: #363a40 !important;
}

.btn-outline-dark:hover {
  background: #363a40 !important;
  color: white !important;
}

.text-muted a {
  color: currentColor;
}

.fill-details dd {
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  line-height: 1;
}

.input-group,
.page-item.active .page-link {
  z-index: 0;
}

/*Modal*/

.modal-dialog {
  border: 0;
  margin: 0;
}

.modal-content {
  border: 0;
  min-height: 370px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.top-bar.currency-selector .Select-control {
  background: none;
  border: none;
  font-size: 14px;
  text-align: right;
  user-select: none;
  width: 200px;
}

.top-bar.currency-selector .Select-value-label {
  color: white !important;
  padding-right: 20px;
}

.top-bar.currency-selector .Select-arrow {
  border-top-color: white !important;
  margin-top: 5px;
  vertical-align: top;
}

.top-bar.currency-selector.is-open .Select-arrow {
  border-color: transparent transparent white;
}

.top-bar.currency-selector .Select-menu-outer {
  border: none;
  background-color: #222;
  color: white;
  padding: 0 10px 10px;
  width: calc(100% + 20px);
}

.top-bar.currency-selector .Select-option {
  background-color: #222;
  color: white;
}

@media (min-width: 768px) {
  .fill-details dl {
    display: flex;
    flex-wrap: wrap;
  }

  .fill-details dt {
    width: 20%;
  }
  .fill-details dd {
    width: 80%;
  }
}
