@import url('https://fonts.googleapis.com/css?family=Monda');

html {
  font-size: 15px;
}

html,
body {
  font-family: 'Monda', sans-serif;
  height: 100%;
}

body {
  color: #363a40;
}

body,
#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: #363a40;
}

h4:not(.card-title) {
  margin: 0;
}

.table td {
  border-bottom: 1px solid #ebebeb;
  padding: 7px;
}

.table thead th {
  color: white;
  background-color: #867ac6;
  border-bottom: 4px solid #695f9c;
  border-top: 1px solid #867ac6;
  padding: 5px;
}

.table tbody td,
.table thead th {
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

.table tbody td:first-child,
.table thead th:first-child {
  padding-left: 10px;
}

.table tbody td:last-child,
.table thead th:last-child {
  padding-right: 10px;
}

.table tbody tr:nth-child(2n) td {
  background-color: #f4f4f4;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination li.page-item {
  margin: 0 3px 0 0;
}

.pagination li.page-item:last-child {
  margin: 0;
}

.pagination li.page-item a.page-link {
  background-color: #f4f4f4;
  border: none;
  border-radius: 0;
  color: currentColor;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 10px 15px;
}

.pagination li.page-item a.page-link:hover {
  background-color: #ebebeb;
}

.pagination li.page-item.active a.page-link {
  background-color: #dfdbdb;
}

.pagination li.page-item.disabled a.page-link,
.pagination li.page-item.disabled a.page-link:hover {
  cursor: default;
  color: #c6c6c6;
}

.card-header .nav-tabs .nav-link:hover:not(.active) {
  border-color: transparent;
}

.btn-outline-dark {
  border-color: #363a40 !important;
  color: #363a40 !important;
}

.btn-outline-dark:hover {
  background: #363a40 !important;
  color: white !important;
}

.text-muted a {
  color: currentColor;
}

.fill-details dd {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Modal*/

.modal-dialog {
  border: 0;
  margin: 0;
}

.modal-content {
  border: 0;
  min-height: 370px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

@media (min-width: 768px) {
  .fill-details dl {
    display: flex;
    flex-wrap: wrap;
  }

  .fill-details dt {
    width: 20%;
  }
  .fill-details dd {
    width: 80%;
  }
}
