h4:not(.card-title) {
  margin: 0;
}

.btn-outline-dark {
  border-color: #363a40 !important;
  color: #363a40 !important;
}

.btn-outline-dark:hover {
  background: #363a40 !important;
  color: white !important;
}

.text-muted a {
  color: currentColor;
}

.fill-details dd {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Modal*/

.modal-dialog {
  border: 0;
  margin: 0;
}

.modal-content {
  border: 0;
  min-height: 370px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

@media (min-width: 768px) {
  .fill-details dl {
    display: flex;
    flex-wrap: wrap;
  }

  .fill-details dt {
    width: 20%;
  }
  .fill-details dd {
    width: 80%;
  }
}
